{% extends "layout.html" %}

{% block scripts %}
{{ super() }}

{% include "pluginlist.html" %}
<script src="{{url_for('.static', filename='js/home.js')}}"></script>

{% if g.plugins %}
<script type="text/javascript" charset="utf-8">
  App.plugins.reset({{ g.plugins|tojson }});
</script>
{% endif %}

{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Discovered Plugins</h3>
    </div>
    <div class="panel-body">
      <div class="plugin-list">
      </div>
    </div>
  </div>
</div>
{% endblock %}
